body {
    background: #198A7A;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    font-family: 'Bungee';

    color: #09090A;
    text-shadow: 4px 4px #DCD03F;
    text-align: center;
}

h3 {
    font-family: 'Bungee';

    color: #09090A;
    text-shadow: 4px 4px #DCD03F;
    text-align: center;
}

table {
    font-family: monospace;
    font-size: 30px;
    
    color: transparent;
}

table.global {
    width: 100%;
    border-collapse: collapse;
}

table.parent { 
    width: 100%;
    border-collapse: collapse;
}

td.parentCell {
    border: 6px solid #09090A;
    padding: 16px;
}

.parentCell.topleft {
    border-left: 0px;
    border-top: 0px;
}

.parentCell.topmiddle {
    border-top: 0px;
}

.parentCell.topright {
    border-top: 0px;
    border-right: 0px;
}

.parentCell.middleleft {
    border-left: 0px;
}

.parentCell.middleright {
    border-right: 0px;
}

.parentCell.bottomleft {
    border-left: 0px;
    border-bottom: 0px;
}

.parentCell.bottommiddle {
    border-bottom: 0px;
}

.parentCell.bottomright {
    border-bottom: 0px;
    border-right: 0px;
}

/* Child Cells */

.content {
    border: 3px solid #09090A;
}

.content.topleft {
    border-left: 0px;
    border-top: 0px;
}

.content.topmiddle {
    border-top: 0px;
}

.content.topright {
    border-top: 0px;
    border-right: 0px;
}

.content.middleleft {
    border-left: 0px;
}

.content.middleright {
    border-right: 0px;
}

.content.bottomleft {
    border-left: 0px;
    border-bottom: 0px;
}

.content.bottommiddle {
    border-bottom: 0px;
}

.content.bottomright {
    border-bottom: 0px;
    border-right: 0px;
}


td.content {
    text-align: center;

/*    padding: %;*/
}



