#title {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 700;
    color: white;
}

#site-title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    color: white;
}

#date {
    color: #4E4E50;
    font-style: italic;
}

body {
    font-family: 'Rubik', serif;
    background-color: #1A1A1D;
    color: white;
}

h5 {
    font-weight: bold;
}

pre {
    padding: 1%;
    border-left: 6px solid #C3073F;
    background-color: #6F2232;

    font-family: 'Source Code Pro', Courier, monospace;
    font-weight: 400;
    color: white;
}

a {
    color: #C3073F;
    text-decoration: none;
}

.color:hover {
    color: black;
}

.cursor {
    font-weight: 100;
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        back: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}