body{
    padding: 0px;
    margin: 0px;
}

.name{
    font-size: 50px;
    font-family: 'Open Sans';
	color: darkred;
}

.slogan{
    line-height: 75%;
    font-size: 25;
    font-family: 'Open Sans';
	color: darkred;
}

.parallax{
    background-color: #cccccc;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
    background-image: url(scene.jpg);
}

.bgContent{
	text-align: center;
	margin-top: 15%;
}

.content{
    font-family: 'Gentium Book Basic', serif;
    max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}

.typeHeader{
    text-align: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}