body{
    padding: 0px;
    margin: 0px;
}

textarea{
    width: 100%;
    height: 100%;
    padding: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    overflow: auto;
    outline: none;
    font-family: monospace;
    font-size: 16px;
}

.tool {
	background-color:#ffffff;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:monospace;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
}
.tool:hover {
	background-color:#ffffff;
}
.tool:active {
	position:relative;
	top:1px;
}

        

#bar{
    background-color: black;
    padding: 0.5%;
}
